<!DOCTYPE html>

<style>
  .flashes { list-style: none; padding: 0; }
  .flash.success { color: green; }
  .flash.danger { color: red; }
  .flash.info { color: blue; }
</style>

<html>
<head>
    <title>{% block title %}Farm Info{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/disorientation">Disorientation Guide</a>
        <a href="/chickens">Chickens</a>
        <a href="/spaces">Spaces</a>
        <a href="/garbage">Garbage</a>
        <a href="/workdays">Community Work Days</a>
        <a href="/camps">Camp Info/Schedule</a>
        <a href="/gallery">Gallery</a>
        <a href="/zines">Zine Library</a>
        <a href="/forum">Forum</a>

        {% if current_user.is_authenticated %}
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% else %}
  <li><a href="{{ url_for('login') }}">Login</a></li>
  <li><a href="{{ url_for('register') }}">Register</a></li>
{% endif %}

    </nav>
    
    {% block content %}{% endblock %}
    
    {% block scripts %}{% endblock %}
</body>
</html>
