{% extends "base.html" %}

{% block content %}
<p>Chicken food: 1 50 lb. bag of Scratch and 1 50 lb. bag of Mash Crumbles! From Dena & Jim @waldo feed & hardware on 14720 waldo rd!</p>
<p>- chickens open at noon (bring them treats if youve got them)</p>
<p>- check water, food, and for eggs. please open aviary gate and door too</p> 
<p>- chickens close at sundown. theyre usually in the coop a good 30min before it get's dark.</p>
<p>- count all chickens (we have 12 now). Whiteboard on BH fridge has good chicken info & the offical bird count</p>
<p>- check water and feed.(detailed instructions coming soon) I usually give them a 1 or 2 scoops of feed.</p>
<p>- check and close all three coop doors and close the aviary gate. dont forget to flip the open/close sign just inside the Big Haus kitchen door by the light switches.</p>

{% endblock %}
