{% extends "base.html" %}

{% block title %}Welcome - Farm Info{% endblock %}

{% block content %}
<div class="container" style="text-align: center;">
    <h1>Welcome to the Farm</h1>
    <img src="/static/images/WinterCamp2024.JPG" alt="Winter Camp 2024 Group Photo" style="max-width: 100%; border: 2px solid #900; margin: 20px 0;">

    <p>unsure of something? check w/ yr sponsor🫀🙏

Remember!
Praxis! Be Impeccable W/ Your Word.Take nothing Personally.No Assumptions.Do Yr Best.Consider impact on ecology&community.Be considerate. Ideology >production! B the revolutionary u wish 2 see in the 🌎</p>

</div>
{% endblock %}
