{% extends "base.html" %}
{% block content %}
<main class="container">
  <h2>Login (if you successfully made an account. you can log in. It will look like nothing happend. It doesnt really do anything or work as intended so...) </h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}
    </div>
    <div>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
    </div>
    <div>
      {{ form.submit() }}
    </div>
  </form>
</main>
{% endblock %}
