{% extends "base.html" %}
{% block content %}
<main class="container">
  <h2>Register ( I dont know if this works. but feel free to try. All data is secure and encrypted.( it is supposed to be required for posting in the forum )</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
    </div>
    <div>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}
    </div>
    <div>
      {{ form.referrer.label }}<br>
      {{ form.referrer() }}
    </div>
    <div>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
    </div>
    <div>
      {{ form.confirm_password.label }}<br>
      {{ form.confirm_password(size=32) }}
    </div>
    <div>
      {{ form.submit() }}
    </div>
  </form>
</main>
{% endblock %}
